
# Project: Investigating the TMDB Movie Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> This data set contains information about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue.


### Question(s) for Analysis
> **Q1: Questions on Budget**
>1. What is the average budget of all movies?
>2. What movie has the lowest budget?
>3. What movie has the highest budget?
>4. Is there a relationship between budgets and profit?

> **Q2: Questions on Revenue**
>1. What is the average revenue for all movies?
>2. What movie has the lowest revenue?
>3. What movie has the higest revenue?
>4. Is there a relationship between revenue and profit?

> **Q3: Questions on Runtime**
>1. What is the average runtime for all movies?
>2. What movie has the lowest runtime?
>3. What movie has the highest runtime?
>4. Is there a relatinshio between runtime and profit?

>**Q4: Questions on Profit**
>1. What is the average profit for all movies?
>2. What movie has the lowest profit?
>3. What movie has the highest profit?

>**Q5: What genres are the most successful?**

>**Q6: What Directors are the most successful?**

>**Q7: What Actors are the most frequent?**

In [37]:
# Importing Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you **document your data cleaning steps in mark-down cells precisely and justify your cleaning decisions.**


### General Properties
> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

In [38]:
# Loading the dataset

df_tmdb = pd.read_csv('tmdb-movies.csv', index_col=False)

In [39]:
# Printing the first 5 rows of the dataset
df_tmdb.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [40]:
# Accessing some statistacl information about the dataset
df_tmdb.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [41]:
# Checking for duplicated rows in the dataset
df_tmdb.duplicated().sum()

1

In [42]:
# Checking the dataset for datatpes and missing values

df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

#### Observations from Wrangling the Dataset:
Describing The Columns In The Dataset:


1. `'id'`: This shows the id of each movie in the dataset.
2. `'imdb_id'`: This shows a unique id for each movie in the tmdb database.
3. `'popularity'`: This shows the popularity rating of each movie in the dataset.
4. `'budget'`: This shows the budget for each movie in the dataset. It is measured in US Dollars.   
5. `'revenue'`: This shows the revenue from each movie. Also measured in US Dollars.
6. `'original_title'`: This shows the title of each movie in the dataset.
7. `'cast'`: This shows the cast for each movie in the dataset.
8. `'budget_adj'`:  This shows the budget of the associated movie in terms of 2010 dollars, accounting for inflation over time.
9. `'revenue_adj'`: This shows the revenue of the associated movie in terms of 2010 dollars, accounting for inflation over time.
10. `'homepage'`: This shows the website of the associated movie.
11. `'keywords'`: This shows a set of keywords for the associated movie.
12. `'director'`: This shows the director for the associated movie.
13. `'tagline'`: This shows the tagline for the associated movie.
14. `'overview'`: This shows the overview of the associated movie.
15. `'runtime'`: This shows the runtime for the associated movie.
16. `'genres'`: This shows the genre of the associated movie.
17. `'production_companies'`: This shows the production companies for the associated movie.
18. `'release_date'`: This shows the release date for the associated movie.
19. `'vote_count'`: This shows the vote count for the asociated movie.
20. `'vote_average'`: This shows the vote average of the associated movie.
21. `'release_year'`: This shows the release date for the associated movie.

Accessing the dataset reveals the following:

>1. There is one duplicated row in the dataset, which will need to be deleted
>2. Some columns in the dataset do not seem to be relevant to the analysis. Hence, they will be dropped. These include `'id'`, `'imdb_id'`, `'popularity'`, `'budget_adj'`, `'revenue_adj'`, `'homepage'`, `'keywords'`, `'director'`, `'tagline'`, `'overview'`, `'production_companies'`, `'vote_count'` and `'vote_average'`.
>3. Statistical investigation of the dataset reveals that there exits vlaues of '0' in the `budget` and `revenue` columns upto about **50% of the obeservation.** These rows needs to be dropped because they will hinder the analysis seeeing that we cannot determine the profit for such movies.
>4. The `runtime` column contains some '0' values. These rows in the column will need to be converted to NAN so they don't impact the analysis.
>5. `'release_date'` column needs to be converted into date format so the column can be easily accessed and deployed for analysis.
>6. There is a need to create a column for profits to aid the analysis.


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

In [43]:
# Creating a function to clean the dataset

def clean_dataset(df, drop_columns):
    
    # Dropping duplicate row
    df.drop_duplicates(keep = 'first', inplace = True)     
    rows, cols = df.shape                             # Storing rows and columns details after removing duplicate row
    print('After removing duplicate row, we have a total of {} rows and {} columns.'.format(rows-1, cols))     # Outputing the new shape of the dateframe after removing duplicate rows
    print()                                                # Printing new line 
    
    # Dropping unnecessary columns
    df.drop(drop_columns, axis=1, inplace=True)                   
    print('The remain columns are {}'.format(list(df.columns)))  # Outputting remaining columns
    print()                                                      # Printing new line 
    
    
    # Replacing '0' values with NAN in the budget and revenue columns
    columns = ['budget', 'revenue']               # Columns that will be droppped
    df[columns] = df[columns].replace(0, np.NAN)  # Relacing 0 with NAN 
    df.dropna(subset=columns, inplace=True)       # Dropping NAN rows
    rows, cols = tmdb_df.shape                    # Storing dataframe shape
    print('After removing NAN rows, we have a total of {} rows'.format(rows-1))   # Outputting new number of rows
    print()                                       # Printing new line
    
    # Replacing '0' values in runtime column with NAN
    df.runtime = df.runtime.replace(0, np.NAN)
    print("'0' values in the runtime column has been replaced with NAN")    # Printing notfication of replacement
    print()   # Printing new line
    
    # Converting release_date column to datetime format
    df.release_date = pd.to_datetime(df['release_date'])
    print('release_date has been converted to datetime')   # Printing notification of conversion
    print() # Printing new line
    
    # Creating profit column
    df['profit'] = df['revenue'] - df['budget']
    
    return df

In [44]:
#creating dictionary of columns to drop
drop_columns = ['id', 'imdb_id', 'popularity', 'budget_adj', 'revenue_adj', 
                'homepage', 'keywords', 'director', 'tagline', 'overview', 
                'production_companies', 'vote_count', 'vote_average']

In [45]:
# performing cleaning on dataset using the clean_dataset function

df_tmdb = clean_dataset(df_tmdb, drop_columns)

After removing duplicate row, we have a total of 10864 rows and 21 columns.

The remain columns are ['budget', 'revenue', 'original_title', 'cast', 'runtime', 'genres', 'release_date', 'release_year']

After removing NAN rows, we have a total of 10865 rows

'0' values in the runtime column has been replaced with NAN

release_date has been converted to datetime

In [46]:
df_tmdb.head()       # inspecting cleaned dataset

,budget,revenue,original_title,cast,runtime,genres,release_date,release_year,profit
0,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015,1.363529e+09
1,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015,2.284364e+08
2,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,2015-03-18,2015,1.852382e+08
3,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,2015,1.868178e+09
4,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,2015-04-01,2015,1.316249e+09

In [47]:
df_tmdb.describe()   # inspecting cleaned dataset' statistics

             budget       revenue      runtime  release_year        profit
count  3.854000e+03  3.854000e+03  3854.000000   3854.000000  3.854000e+03
mean   3.720370e+07  1.076866e+08   109.220291   2001.261028  7.048292e+07
std    4.220822e+07  1.765393e+08    19.922820     11.282575  1.506195e+08
min    1.000000e+00  2.000000e+00    15.000000   1960.000000 -4.139124e+08
25%    1.000000e+07  1.360003e+07    95.000000   1995.000000 -1.321535e+06
50%    2.400000e+07  4.480000e+07   106.000000   2004.000000  2.002019e+07
75%    5.000000e+07  1.242125e+08   119.000000   2010.000000  8.170331e+07
max    4.250000e+08  2.781506e+09   338.000000   2015.000000  2.544506e+09

In [35]:
print(df_tmdb.revenue.max())

2781505847.0

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. 



> **Tip**: - Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.

> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])